
.s3carousel_wrapper{
    position: relative;
}
.s3upper_div{
    background-color: #F1F2F2;
    padding: 10rem 25rem; 
        @media(width<=768px){
            padding: 8rem 2rem;
        }
  

    .s3header{
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    

        span{
            font-weight: bolder;
        }
    }
    .s3texts{
        padding: 3rem 15rem;
        color: #515051;
         @media (width <= 768px) {
            padding: 2rem;
            letter-spacing: 1px;
            text-align: center;
        
        }
    }
}

.s3main_container{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
overflow-y: hidden; // Prevent vertical scrolling

    gap: 2rem;
    padding: 2rem 25rem;
    width: 100%;
    position: relative;
    @media(width<= 500px){
        padding: 2rem 3rem;
    }

// hide scrollbar for all browsers
     &::-webkit-scrollbar {
    display: none;
  }
    -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none; /* Firefox */

    .s3main_scroll{
        display: block;
    }
    .s3main_dscroll{
        display: none;
    }

    .s3scrolling_div{
        position: absolute;
        left: 50%;
        bottom: -4rem;
        transform: translateX(-50%);
        width: auto;
        padding: 0;

        .s3scroll{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
            font-size: 2rem;

        }
    }
}
.s3main_mainbuttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 18rem;
    position: absolute;
    top: 40%;
     @media(width<= 500px){
        padding: 1rem;
     }
        .greaterthan, .lessthan{
            padding: 1.5rem 2rem;
            background-color: #fff;
            font-weight: bold;
            border-radius: 50%;
            bottom: none;
            box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.6);
            cursor: pointer;
            transition: transform 0.3s, background-color 0.3s, color 0.3s;
        
            &:hover{
                background-color: red;
                color: white;
                transform: scale(1.1);
            }
        }
}