 .s6main_container{
    padding: 5rem 20rem;
    @media( width<=500px){
        padding: 2rem;
    }

        .s6text_div{
            text-align: center;
            padding: 3rem 18rem;
              @media( width<=500px){
                padding: 2rem;
    }
                .s6header{
                    font-size: 3rem;
                        span{
                            font-weight: bold;
                            color: #292728;
                        }
                }
                .s6some_text{
                    font-size: 1rem;
                    margin-top: 2rem;
                    color: #747474;
                }
        }
        .s6industries{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            padding: 2rem 3rem;
            opacity: 0;
            transition: all 1s;
            filter: blur(5px);
            transform: translateY(25%);
             @media(width<=500px){
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
                align-items: center;
             }
          

                    img{
                        opacity: 0.8;
                     filter: grayscale(100%) ;
                     width: 8rem;

                    }
        }
        .show{
                opacity: 1;
                filter: blur(0);
                transform: translateY(0);
            }
 }
 .s6img_div{
    margin-top: 2rem;
    width: 100%;
    position: relative;

          .s6image{
             width: 100%;
         }
         .s6play_button{
            position: absolute;
            top: 38rem;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            text-align: center;
            color: white;
            font-size: 2rem;
            padding: 2rem;
              @media( width<=500px){
                top: 5rem;
        
    }
            
                .play_button{
                   background-color: rgb(224, 54, 54);
                   padding: 1rem 1.5rem;
                   text-align: center;
                   border-radius: 50%;
                    cursor: pointer;
                    

                }

         }
 }