@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "./styles/colors.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: $bg;
   font-family: 'Poppins', 'Inter', 'Montserrat', sans-serif;
}
.Navbar{
background-image: linear-gradient(rgba(0, 0, 0,0.7), rgba(0, 0, 0,0.4)), url('/images/illustration-anime-city.jpg');  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 50vh;
  opacity: 9;
}
.breakline{
  margin: 2rem;
}
.main{
    @media (width > 60rem){
        display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    }

}
.login_footer{
  color: white;
  letter-spacing: 1px;
  margin-top: 18rem;
  text-align: center;
  
}
 .Slogo_name{
            color: $btn-bg;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
            margin: 3rem 2rem;
            cursor: pointer;
                @media(width <= 414px) {
                   font-size: 1.5rem;
                    

                }
                .Link{
                  text-decoration: none;
                  color: #B20710;
                }
        }
h1{
  text-align: center;
}
.user-icon {
  font-size: 2rem;
  color: white;
  transition: color 1s ease;
    &:hover{
      color: purple;
    }

  @media (width>= 700px) {
    font-size: 2.5rem;
  }

  
}
