@import 'colors';
.dashboard-container {
  padding: 2rem;
  color: #fff;
  background: #181818;
  min-height: 100vh;
}

.dashboard-header {
  margin-bottom: 2rem;
  h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  p {
    color: #bbb;
  }
}

.dashboard-widgets {
  display: grid;
  grid-template-rows: 1fr;
  gap: 2rem;
  align-items: center;

}

.dashboard-widget {
  background: #232323;
  border-radius: 1rem;
  padding: 1rem;
  
  h2 {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #ff9800;
  }
}

.dashboard-movie-list {
  display: flex;
  gap: 1rem;
  align-self: center;
   @media (max-width: 768px) {
    flex-direction: column;
  }
}

.dashboard-movie-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: #292929;
  border-radius: 0.5rem;
  padding: 0.5rem;
  img {
    width: 50px;
    height: 70px;
    object-fit: cover;
    border-radius: 0.3rem;
  }
  span {
    font-size: 1rem;
  }
}
.go_to_homepage{
     padding: .5rem 1rem;
     margin-top: 2rem;
     margin-right: 2rem;
    background-color:$btn-bg;
    color: $btn-color;
    font-weight: 500;
    font-size: .75rem;
    border-radius: .5rem;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
                 @media(width >= 60rem){
                  padding: 1rem 1rem;
                  margin-left: 50rem;

    }
    transition: transform 0.3s ease;
       &:hover{
        transform: scale(1.1);
    }
}