@import 'colors';

.Hero_main_container{
    color: $main_text_color;
    padding: 3rem 4rem;
    padding-top: 10rem;
    text-align: center;
    margin-bottom: 2rem;
    // color: red;
        @media (width <= 375px){
            padding-top: 5rem;
        }
  

    .hero_main_text{
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
             @media(width >= 60rem){
        font-size: 2rem;

    }
    }
    .hero_ready{
        margin-top: 1rem;
        font-size: .9rem;
    }
    .hero_email{
        margin-top: 1rem;
        padding: .8rem 2rem;
        margin-bottom: 1rem;
        border-radius: 1rem;
        cursor: pointer;
        margin-right: 1rem;
        font-size: 16px;
    }
}