@import 'colors';

.reason_div{
     background-color: $join_div;
     padding: 1rem;
     margin-top: 1rem;
     border-radius: 1rem;
     letter-spacing: 1px;
     color: white;
     margin: 1rem 2rem;
     cursor: pointer;
     transition: transform 0.3s ease;
       
        @media(width > 60rem){
            width: 15rem;
            height: 15rem;

        }
        &:hover{
            transform: scale(1.1);
        }

    }
